form(method='post' action='/productos')
  label Nombre
  input(type='text' name='title')
  label Precio
  input(type='text' name='price')
  label Url de foto
  input(type='text' name='thumbnail')
  button(type='submit') Enviar
