<form method="post" action="/productos">
    <label>Nombre</label>
    <input type="text" name="title"/>
    <label>Precio</label>
    <input type="text" name="price"/>
    <label>Url de foto</label>
    <input type="text" name="thumbnail"/>
    <button type="submit">Enviar</button>
</form>
